body {
    background-image: url("/Users/josephkalbacher/Desktop/jsproject/app/assets/stonewall.jpeg");
}

.game-name {
    font-family: Bath Time Regular;
    text-align: center;
    font-size: 40px;
    color: yellow;;
}

.main-content{
    display: flex;
    /* border: 1px solid red; */
}

.instructions {
    width:300px;
    height: 495px;
    float: left;
    margin-right: 30px;
    background: rgb(172, 171, 171);
    border: 5px solid lightgray;
}

.instructions > h2 {
    text-align: center;
}

canvas {
    float: left;
}

li {
    margin-bottom: 10px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}